src/main/resources/full/
Dokumentation/
Docker/textfiles/
Docker/textfiles_mini_2_languages/
Docker/test_textfiles/
target/
bin/
.settings/
.project
.classpath
.idea
.vscode
.DS_Store
hadoop_sprachvergleich.iml